<div class="balloon">
    <div class="balloon__image">
        <img src="{{img}}" alt="">
    </div>
    <div class="balloon__content">
        <div class="balloon__content-main">
            <h3 class="balloon__content-title">{{title}}</h3>
            <div class="balloon__content-row">
                <span class="balloon__content-price">{{price}} ₽</span>
                <span class="balloon__content-area">{{area}} м²</span>
            </div>
            <span class="balloon__content-address">{{address}}</span>
        </div>
        <div class="balloon__close delete__cross">
            <i class="fa-solid fa-xmark fa-lg"></i>
        </div>
    </div>
</div>