<h2 class="offerDetails__header-title">
    Продаётся {{Rooms}}-комн. квартира, {{Area}} м²
</h2>
<div class="offerDetails__header-info">
    <ul>
        <li>{{Rooms}}-комн. кв.</li>
        <li>{{Area}} м²</li>
        <li>{{Floor}}/{{TotalFloors}} этаж</li>
    </ul>
    <div class="offerDetails__header-metro">
        <svg width="17" height="12" viewBox="0 0 17 12" fill="black" xmlns="http://www.w3.org/2000/svg">
            <path d="M15.6135 9.69889L11.8759 0.239685L8.71426 5.76928L5.56546 0.239685L1.81506 9.69889H0.714264V11.1325H6.37187V9.69889H5.52706L6.34626 7.34368L8.71426 11.2349L11.0823 7.34368L11.9015 9.69889H11.0567V11.1325H16.7143V9.69889H15.6135Z" fill="{{metroColor}}"/>
        </svg>
        <span>{{MetroStation}}</span>
    </div>
    <span class="offerDetails__header-address">{{Address}}</span>
</div>
