<div class="input {{class}}">
    <div class="passwordInput__input" id="{{id}}__container">
        <input id="{{id}}__input" type="password" name="{{name}}" placeholder="{{placeholder}}" maxlength="{{maxlength}}" autocomplete="current-password" data-passwordField="true">
        <button type="button" id="{{id}}__eyeButton" class="passwordInput__eye fa-solid fa-eye">
    </div>
    <div id="{{id}}__error" class="input-error error"></div>
</div>