<div class="zhk-information">
    <div class = "zhk-information__main">
        <div class="zhk-information__block">
            <div class="zhk-information__block__header">
                <span>Расположение</span>
            </div>
            <div class = "zhk-information__block__address">
                <span>{{general.address}}</span>
            </div>
            <div class="zhk-information__block__station">
                
            </div>
        </div>
        <div class="zhk-information__block">
            <div class="zhk-information__block__header">
                <span>Харакетиристики</span>
            </div>
            <div class="zhk-information__block__characteristics">
                <div class="characteristics__part">
                    <div class="characteristics__icon">
                        <i class="fa-solid fa-door-open"></i>
                    </div>
                    <div class ="characteristics__text">
                        <div class="characteristics__text__name">
                            <span>Площади квартир</span>
                        </div>
                        <div class="characteristics__text__content">
                            <span>
                                {{general.characteristics.square.lowestSquare}}
                                -
                                {{general.characteristics.square.highestSquare}}
                                м²
                            </span>
                        </div>
                    </div>
                </div>
                <div class="characteristics__part">
                    <div class="characteristics__icon">
                        <i class="fa-solid fa-star"></i>
                    </div>
                    <div class ="characteristics__text">
                        <div class="characteristics__text__name">
                            <span>Класс</span>
                        </div>
                        <div class="characteristics__text__content">
                            <span>
                                {{general.characteristics.class}}
                            </span>
                        </div>
                    </div>
                </div>
                <div class="characteristics__part">
                    <div class="characteristics__icon">
                        <i class="fa-solid fa-stairs"></i>
                    </div>
                    <div class ="characteristics__text">
                        <div class="characteristics__text__name">
                            <span>Количество этажей</span>
                        </div>
                        <div class="characteristics__text__content">
                            <span>
                                {{general.characteristics.floors.lowestFloor}}
                                -
                                {{general.characteristics.floors.highestFloor}}
                            </span>
                        </div>
                    </div>
                </div>
                <div class="characteristics__part">
                    <div class="characteristics__icon">
                        <i class="fa-solid fa-arrows-up-down"></i>
                    </div>
                    <div class ="characteristics__text">
                        <div class="characteristics__text__name">
                            <span>Высота потолков</span>
                        </div>
                        <div class="characteristics__text__content">
                            <span>
                                {{general.characteristics.ceilingHeight.lowestHeight}}
                                -
                                {{general.characteristics.ceilingHeight.highestHeight}}
                                м
                            </span>
                        </div>
                    </div>
                </div>
                <div class="characteristics__part">
                    <div class="characteristics__icon">
                        <i class="fa-solid fa-paint-roller"></i>
                    </div>
                    <div class ="characteristics__text">
                        <div class="characteristics__text__name">
                            <span>Виды отделок</span>
                        </div>
                        <div class="characteristics__text__content">
                            <span>
                                {{general.characteristics.decoration}} 
                            </span>
                        </div>
                    </div>
                </div>
                <div class="characteristics__part">
                    <div class="characteristics__icon">
                        <i class="fa-solid fa-building"></i>
                    </div>
                    <div class ="characteristics__text">
                        <div class="characteristics__text__name">
                            <span>Количество корпусов</span>
                        </div>
                        <div class="characteristics__text__content">
                            <span>
                                {{general.characteristics.buildings}} 
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="zhk-information__block">
            <div class="zhk-information__block__header">
                <span>Квартиры от застройщика</span>
            </div>
            <div class = "zhk-information__block__appartments">
                {{#each general.appartments}}
                    <div class ="appartments">
                        <div class = "appartments__information">
                            <span class = "appartments__square">{{rooms}}-комн. от {{minSquare}} м²</span>
                            <span class="appartments__price">от {{lowestPrice}} до {{highestPrice}} ₽</span>
                        </div>
                        <div class = "appartments__offers">
                            <span>Предложений: {{offers}}</span>
                            <i class="fa-solid fa-arrow-right"></i>
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>
        <div class="zhk-information__block">
            <div class="zhk-information__block__header">
                <span>Описание</span>
            </div>
            <div class = "zhk-information__block__description">
                <span>{{general.description}}</span>
            </div>
        </div>
        <div class="zhk-information__block">
            <div class="zhk-information__block__header">
                <span>Отзывы</span>
            </div>
            <div class = "zhk-information__block__reviews">
                {{> HousingComplexReviews reviews=reviews}}
            </div>
        </div>
    </div>
    <aside class = "zhk-information__aside">
        <div class="zhk-information__aside__header">
            <span>Застройщик</span>
        </div>
        <div class = "zhk-information__aside__developer">
            <span>{{contacts.developer}}</span>
        </div>
        <div class = "zhk-information__aside__buttons">
            {{> PrimaryButton name="Контакты застройщика" id ="asideDeveloperPhone" class="aside__button"}}
            {{> LightButton name="Рассчитать ипотеку" id = "mortgageCalculation" class="aside__button"}}
        </div>
    </aside>
</div>