<div class="input {{class}}">
    <div class="clearInput__input" id="{{id}}__container">
        <input id="{{id}}__input" type="{{type}}" name="{{name}}" placeholder="{{placeholder}}" maxlength="{{maxlength}}" data-clearField="true" autocomplete="{{autocomplete}}">
        <button type="button" id="{{id}}__clearButton" class="fa-solid fa-xmark clearInput__clearButton clearInput__clearButton__hidden"></button>
    </div>
    <div id="{{id}}__error" class="input-error error"></div>
</div>