<div class="filter__double-input-main">
    <div class="filter__double-input-wrapper">
        <div class="filter__double-input">
            <input id="{{id}}Left" type="{{type}}" name="{{name}}Left" placeholder="От" maxlength="{{maxlength}}">
        </div>
        <div class="filter__double-input">
            <input id="{{id}}Right" type="{{type}}" name="{{name}}Right" placeholder="До" maxlength="{{maxlength}}">
        </div>
    </div>
    <div id="{{id}}__error" class="input-error error"></div>
</div>