<div class="search__results-offer">
    <div class="search__results-offer-img">
        <img src="../img/card/photo.jpg" alt="">
        <!--<div class="search__results-offer-heart">-->
        <!--{{> HeartButton }}-->
        <!--</div>-->
    </div>
    <div class="search__results-offer-left">
        <div class="search__results-offer-titles">
            <h2 class="search__results-offer-title">
                {{title}}
            </h2>
            <span class="search__results-offer-price">
                {{price}}
            </span>
        </div>
        <div class="search__results-offer-info">
            <span class="search__results-offer-address">
                {{address}}
            </span>
            <div class="search__results-offer-details">
                <ul>
                    <li>{{rooms}}-комн. кв.</li>
                    <li>{{square}} м²</li>
                    <li>{{floor}}/{{totalFloors}} этаж</li>
                </ul>
            </div>
            <div class="search__results-offer-metro">
                <svg width="17" height="12" viewBox="0 0 17 12" fill="black" xmlns="http://www.w3.org/2000/svg">
                    <path d="M15.6135 9.69889L11.8759 0.239685L8.71426 5.76928L5.56546 0.239685L1.81506 9.69889H0.714264V11.1325H6.37187V9.69889H5.52706L6.34626 7.34368L8.71426 11.2349L11.0823 7.34368L11.9015 9.69889H11.0567V11.1325H16.7143V9.69889H15.6135Z" fill="{{metroColor}}"/>
                </svg>
                    <span>{{metroStation}}</span>
                <svg width="17" height="12" viewBox="0 0 17 12" fill="black" xmlns="http://www.w3.org/2000/svg">
                    <path d="M15.6135 9.69889L11.8759 0.239685L8.71426 5.76928L5.56546 0.239685L1.81506 9.69889H0.714264V11.1325H6.37187V9.69889H5.52706L6.34626 7.34368L8.71426 11.2349L11.0823 7.34368L11.9015 9.69889H11.0567V11.1325H16.7143V9.69889H15.6135Z" fill="{{metroColor}}"/>
                </svg>
                <span>4 мин.</span>
            </div>
            <span class="search__results-offer-description">
                {{description}}
            </span>
        </div>
    </div>
    <div class="search__results-offer-seller">
        <div class="search__results-offer-seller-wrapper">
            <span class="search__results-offer-seller-name">
                {{name}}
            </span>
            <span class="search__results-offer-seller-surname">
                {{surname}}
            </span>
        </div>
        <div class="search__results-offer-seller-rating">
            <div class="search__results-offer-seller-rating-wrapper">
                <span class="search__results-offer-seller-rating-num">
                    {{rating}}
                </span>
                <div class="search__results-offer-seller-rating-stars">
                    {{renderRating 5}}
                </div>
            </div>
            <span class="search__results-offer-seller-rating-reviews">
                {{reviewsAmount}} отзывов
            </span>
        </div>
    </div>
</div>