<div class="housingComplex__slider">
    {{> PicturesCarousel images=header.images alt="Фото ЖК"}}
    <div class="housingComplex__slider-information">
        <div class="housingComplex__slider-information-row">
            <div class="housingComplex__slider-text housingComplex__slider-information-rating">
                {{reviews.totalRating}}
                <div class="rating-star">
                    <i class="fa-regular fa-star"></i>
                </div>
                <span>Отзывов: {{reviews.quantity}}</span>
            </div>
            <div class="housingComplex__slider-text housingComplex__slider-information-class">
                {{general.characteristics.class}}
            </div>
        </div>
        <div class="housingComplex__slider-text housingComplex__slider-information-name">
            {{header.name}}
        </div>
        <div class="housingComplex__slider-text housingComplex__slider-information-prices">
            <span>от <span id='lowestPrice'>{{header.lowestPrice}} </span> до <span id='highestPrice'>{{header.highestPrice}}</span> ₽</span>
        </div>
    </div>
    <div class="housingComplex__slider-controls">
        {{> ChevronLeft id="housingComplexSliderChevronLeft" }}
        <span class="housingComplex__slider-text housingComplex__slider-controls-counter" data-length="{{header.imagesSize}}">1/{{header.imagesSize}}</span>
        {{> ChevronRight id="housingComplexSliderChevronRight" }}
    </div>
</div>