<div class="card">
    <a class="card__link" href="/">

        <div class="card__heart">
            {{> HeartButton }}
        </div>


        <div class="card__photo">
            <img class="card__photo-img" src="../../../resources/img/card/photo.jpg" alt="">
        </div>
        <div class="card__content">
            <h3 class="card__price">{{price}} ₽/мес.</h3>
            <div class="card__info">
                <ul>
                    <li>{{rooms}}-комн. кв.</li>
                    <li>{{square}} м²</li>
                    <li>{{floor}} этаж</li>
                </ul>
            </div>
            <div class="card__metro">
                <img class="metro-img" src="../../../resources/img/card/metro.svg" alt="">
                <span>{{metro}}</span>
            </div>
            <div class="card__address">
                <span>{{address}}</span>
            </div>
        </div>
    </a>
</div>