<div class="csatStats__results-avg-header">
    <div class="csatStats__results-avg-header-block">
        <h3 class="csatStats__results-avg-header-title">Средний рейтинг:</h3>
        <span class="csatStats__results-avg-header-text">{{ avgRating }}</span>
    </div>
    <div class="csatStats__results-avg-header-block">
        <h3 class="csatStats__results-avg-header-title">Всего ответов:</h3>
        <span class="csatStats__results-avg-header-text">{{ totalAnswers }}</span>
    </div>
</div>
<div class="csatStats__results-avg-elem">
    <div class="csatStats__results-avg-elem-left">
        {{renderRating 1}}
    </div>
    <div class="csatStats__results-avg-elem-right">
        <div class="csatStats__results-avg-elem-right-block">
            <h3 class="csatStats__results-avg-elem-right-title">
                Количество:
            </h3>
            <span class="csatStats__results-avg-elem-right-text">
                {{ oneStarStatAmount }}
            </span>
        </div>
        <div class="csatStats__results-avg-elem-right-block">
            <h3 class="csatStats__results-avg-elem-right-title">
                Процент:
            </h3>
            <span class="csatStats__results-avg-elem-right-text">
                {{ oneStarStatPercent }}%
            </span>
        </div>
    </div>
</div>
<div class="csatStats__results-avg-elem">
    <div class="csatStats__results-avg-elem-left">
        {{renderRating 2}}
    </div>
    <div class="csatStats__results-avg-elem-right">
        <div class="csatStats__results-avg-elem-right-block">
            <h3 class="csatStats__results-avg-elem-right-title">
                Количество:
            </h3>
            <span class="csatStats__results-avg-elem-right-text">
                {{ twoStarStatAmount }}
            </span>
        </div>
        <div class="csatStats__results-avg-elem-right-block">
            <h3 class="csatStats__results-avg-elem-right-title">
                Процент:
            </h3>
            <span class="csatStats__results-avg-elem-right-text">
                {{ twoStarStatPercent }}%
            </span>
        </div>
    </div>
</div>
<div class="csatStats__results-avg-elem">
    <div class="csatStats__results-avg-elem-left">
        {{renderRating 3}}
    </div>
    <div class="csatStats__results-avg-elem-right">
        <div class="csatStats__results-avg-elem-right-block">
            <h3 class="csatStats__results-avg-elem-right-title">
                Количество:
            </h3>
            <span class="csatStats__results-avg-elem-right-text">
                {{ threeStarStatAmount }}
            </span>
        </div>
        <div class="csatStats__results-avg-elem-right-block">
            <h3 class="csatStats__results-avg-elem-right-title">
                Процент:
            </h3>
            <span class="csatStats__results-avg-elem-right-text">
                {{ threeStarStatPercent }}%
            </span>
        </div>
    </div>
</div>
<div class="csatStats__results-avg-elem">
    <div class="csatStats__results-avg-elem-left">
        {{renderRating 4}}
    </div>
    <div class="csatStats__results-avg-elem-right">
        <div class="csatStats__results-avg-elem-right-block">
            <h3 class="csatStats__results-avg-elem-right-title">
                Количество:
            </h3>
            <span class="csatStats__results-avg-elem-right-text">
                {{ fourStarStatAmount }}
            </span>
        </div>
        <div class="csatStats__results-avg-elem-right-block">
            <h3 class="csatStats__results-avg-elem-right-title">
                Процент:
            </h3>
            <span class="csatStats__results-avg-elem-right-text">
                {{ fourStarStatPercent }}%
            </span>
        </div>
    </div>
</div>
<div class="csatStats__results-avg-elem">
    <div class="csatStats__results-avg-elem-left">
        {{renderRating 5}}
    </div>
    <div class="csatStats__results-avg-elem-right">
        <div class="csatStats__results-avg-elem-right-block">
            <h3 class="csatStats__results-avg-elem-right-title">
                Количество:
            </h3>
            <span class="csatStats__results-avg-elem-right-text">
                {{ fiveStarStatAmount }}
            </span>
        </div>
        <div class="csatStats__results-avg-elem-right-block">
            <h3 class="csatStats__results-avg-elem-right-title">
                Процент:
            </h3>
            <span class="csatStats__results-avg-elem-right-text">
                {{ fiveStarStatPercent }}%
            </span>
        </div>
    </div>
</div>