<div class="profile__offer" data-id="{{id}}">
    <div class="profile__offer-main">
        <div class="profile__offer-left">
            <div class="profile__offer-left-img-wrapper">
                <img src="{{image}}" alt="" class="profile__offer-left-img">
            </div>
            <div class="profile__offer-stats-adaptive">
                <div class="profile__offer-stats-block">
                    <div class="profile__offer-stats-block-img">
                        <i class="fa-regular fa-eye fa-sm"></i>
                        <span>{{views}}</span>
                    </div>
                </div>
                <div class="profile__offer-stats-block">
                    <div class="profile__offer-stats-block-img">
                        <i class="fa-regular fa-thumbs-up fa-sm"></i>
                        <span>{{likes}}</span>
                    </div>
                </div>
                <div class="profile__offer-stats-block">
                    <div class="profile__offer-stats-block-img">
                        <i class="fa-regular fa-heart fa-sm"></i>
                        <span>{{favorites}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="profile__offer-right-wrapper">
            <div class="profile__offer-right">
                <h2 class="profile__offer-title">
                    <a class="profile__offer-link" href="/offer/details/{{id}}">{{title}}</a>
                </h2>
                <span class="profile__offer-address">
                    {{address}}
                </span>
                <div class="profile__offer-info">
                    <ul>
                        <li>{{rooms}}-комн. кв.</li>
                        <li>{{square}} м²</li>
                        <li>{{floor}}/{{totalFloors}} этаж</li>
                    </ul>
                </div>
                <div class="profile__offer-metro">
                    <div class="profile__offer-metro-station">
                        <svg width="17" height="12" viewBox="0 0 17 12" fill="black" xmlns="http://www.w3.org/2000/svg">
                            <path d="M15.6135 9.69889L11.8759 0.239685L8.71426 5.76928L5.56546 0.239685L1.81506 9.69889H0.714264V11.1325H6.37187V9.69889H5.52706L6.34626 7.34368L8.71426 11.2349L11.0823 7.34368L11.9015 9.69889H11.0567V11.1325H16.7143V9.69889H15.6135Z" fill="{{metroColor}}"/>
                        </svg>
                        <span>{{metroStation}}</span>
                    </div>
                    <div class="profile__offer-metro-time">
                        <div class="profile__offer-metro-time-img">
                            <i class="fa-solid fa-person-walking fa-sm"></i>
                            <span>Нет</span>
                        </div>
                    </div>
                </div>
                <!--            <div class="profile__offer-views">-->
                <!--                <div class="profile__offer-views-img">-->
                <!--                    <i class="fa-regular fa-eye fa-sm"></i>-->
                <!--                    <span>12345</span>-->
                <!--                </div>-->
                <!--            </div>-->
            </div>
            <div class="profile__offer-btns">
                <div class="profile__offer-btns-first">
                    {{> PrimaryButton name="Платное продвижение" }}
                </div>
                <div class="profile__offer-btns-second">
                    {{> LightButton name="Изменить" }}
                    {{> RedButton name="Удалить" }}
                </div>
            </div>
        </div>
    </div>
    <div class="profile__offer-stats">
        <div class="profile__offer-stats-block">
            <div class="profile__offer-stats-block-img">
                <i class="fa-regular fa-eye fa-sm"></i>
                <span>{{views}}</span>
            </div>
        </div>
        <div class="profile__offer-stats-block">
            <div class="profile__offer-stats-block-img">
                <i class="fa-regular fa-thumbs-up fa-sm"></i>
                <span>{{likes}}</span>
            </div>
        </div>
        <div class="profile__offer-stats-block">
            <div class="profile__offer-stats-block-img">
                <i class="fa-regular fa-heart fa-sm"></i>
                <span>{{favorites}}</span>
            </div>
        </div>
    </div>
</div>